[submodule "libraries/jaxneurorl"]
	path = libraries/jaxneurorl
	url = https://github.com/wcarvalho/jaxneurorl
[submodule "libraries/jaxmaze"]
	path = libraries/jaxmaze
	url = https://github.com/wcarvalho/JaxMaze.git
